
.formContainer {
    
    display: none;
    font-family: 'Montserrat';
    width: 70%;
    /* height: 905px; */
    /* margin-left: 125px; */
    padding: 5rem;
  
    background-color: #e4e9f6;
    border-radius: 5px;
    color: #090d1b;
  
    flex: 1;
    transition: flex .8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  
  }

/* Estilos para los campos de formulario seleccionados */
.formContainer input:focus,
.formContainer select:focus,
.formContainer textarea:focus {
  border-color: 5px solid black;
}

/*Estilos para los campos de formulario inválidos*/
.formContainer input.error,
.formContainer select.error,
.formContainer textarea.error {
  border-color: red;
  background-color: #ffe6e6;
  display: inline-block;
}

/* Estilos para los campos de formulario válidos */
.formContainer input:valid,
.formContainer select:valid,
.formContainer textarea:valid {
  background-color: white;
  display: inline-block;
}

/* Estilos para los campos de formulario válidos */
.formContainer input:invalid,
.formContainer select:invalid,
.formContainer textarea:invalid {
  background-color: hsl(15, 62%, 85%);
}

/* Estilos para resaltar los campos con error */
.formContainer input.invalid:focus,
.formContainer select.invalid:focus,
.formContainer textarea.invalid:focus {
  border-color: red;
  box-shadow: 0 0 5px #FF0000;
}


/* Estilos para mantener el espacio de los mensajes de error */
.formContainer input.error+.error-message,
.formContainer select.error+.error-message,
.formContainer textarea.error+.error-message {
  margin-top: 0;
}

/* Estilos para los mensajes de error */
.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: bold;
  }
  