body {
    background-color: lightblue;
}

.hangmanGame__selectGameButton {
    background-color: aquamarine;
}

/* COMMON */
.button {
    height: 2rem;
}

/* MAIN */
.hangmanGame__container {

    display: none;
    flex-direction: column;

    background-color: lightseagreen;
    height: 100;
    width: 100%;

    text-align: center;
}

.hangmanGame__Main {
    display: none;
    flex-direction: column;
    height: 100vh;
    background-color: bisque;
}


.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}


/* Estilos para los campos de formulario seleccionados */
.formContainer input:focus,
.formContainer select:focus,
.formContainer textarea:focus {
  border-color: 5px solid black;
}

/*Estilos para los campos de formulario inválidos*/
.formContainer input.error,
.formContainer select.error,
.formContainer textarea.error {
  border-color: red;
  background-color: #ffe6e6;
  display: inline-block;
}

/* Estilos para los campos de formulario válidos */
.formContainer input:valid,
.formContainer select:valid,
.formContainer textarea:valid {
  background-color: white;
  display: inline-block;
}

/* Estilos para los campos de formulario válidos */
.formContainer input:invalid,
.formContainer select:invalid,
.formContainer textarea:invalid {
  background-color: hsl(15, 62%, 85%);
}

/* Estilos para resaltar los campos con error */
.formContainer input.invalid:focus,
.formContainer select.invalid:focus,
.formContainer textarea.invalid:focus {
  border-color: red;
  box-shadow: 0 0 5px #FF0000;
}


/* Estilos para mantener el espacio de los mensajes de error */
.formContainer input.error+.error-message,
.formContainer select.error+.error-message,
.formContainer textarea.error+.error-message {
  margin-top: 0;
}


/* Estilos para los mensajes de error */
.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: bold;
  }
  

/* GAME */
.hangmanGame__Game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: lightsalmon;
}

.hangmanGame__Game h1 {
    background-color: red;
}

.hangmanGame__Game h2 {
    color: green
}

.hangmanGame__Game__Container {
    /* display: none; */
    background-color: antiquewhite;
    height: 20rem;
}
.hangmanGame__Game__chooseLeterContainer {
    display: none;
}

.hangmanGame__Game__Container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aliceblue;

}

.noneLetter {
    display: block;
    margin: 0.2rem;
    padding: 1rem;
    background-color: red;
    font-size: 0;
}


.validLetter {
    display: block;
    margin: 0.2rem;
    padding: 1rem;
    background-color: greenyellow;
    font-size: 1rem;

}

